{% extends 'applicant/base.html' %}

{% block title %}Application for training/project{% endblock %}

{% block content %}

<div class="container-fluid">
		<div class="row">
			<div class="col-sm-offset-3 col-md-offset-3 col-sm-6 col-md-6">
				<div class="panel">
					<div class="panel-body">
						{% include 'applicant/messages.html' %}
						<h3 class="text-center">Pay fees</h3>
						<div class="container-fluid" style="margin-top: 30px;margin-bottom: 30px;">
							Application number : {{ fee.application.application_no }}<br/>
							Applicant name : {{ fee.application.applicant_name }}<br/>
							Fee amount : {{ fee.fees }}
						</div>
						<form class="form-horizontal" action="" method="post" enctype="multipart/form-data">
							{% csrf_token %}
							<div>
								{% include 'applicant/form_template.html' %}
								<div class="submit-row onesubmit">
									<button type="submit" class="btn btn-success">Pay</button>
								</div>
							</div>	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

{% endblock %}